<html>
<head>
    <title>Spring Microblog</title>
</head>
<body>
<form action="/logout" method ="post">
    <button type="submit">quit</button>
</form>
<br>
<form action="/add-message" method="post">
    <input type="text" name="text" placeholder="Write a message" size="75"/>
    <button type="submit">Submit</button>
</form>


<h1>Messages:</h1>

<ol>
    {{#messages}}
    <li>
        {{text}}
        <form action="/edit-message" method="post" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <input type="text" name="text" placeholder="New Message" />
            <button type="submit">Edit</button>
        </form>
        <form action="/delete-message" method="post" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Delete</button>
        </form>

    </li>
    {{/messages}}
</ol>
</body>
</html>