<html>
<head>
    <title>Spring Microblog</title>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="username" name="username"/>
    <button type="submit">enter</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method ="post">
    <button type="submit">quit</button>
</form>
<br>
<form action="/add-message" method="post">
    <input type="text" name="message" placeholder="Write a message" size="75"/>
    <button type="submit">Submit</button>
</form>

<h1>Messages by {{name}}:</h1>

<ol>
    {{#messages}}
    <li>
        {{text}}
        <form action="/delete-message" method="post" style="display: inline-block;">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Delete</button>
        </form>
    </li>
    {{/messages}}
</ol>
{{/user}}
</body>
</html>